@CHARSET "UTF-8";

.titre1{
	text-align : center;
	color : #0c54c0;
	font-size: 18 px;
}

.titre2{
	text-align : center;
	color : #0c54c0;
	font-size: 16 px;
}

.texteGras{
	font-weight: bold;
}

.texteSouligne{
	text-decoration: underline;
}

.texteBleu{
	color : #0c54c0;
}

.listRondes{
	list-style: disc;
}

.listCarres{
	list-style: square;
}

.colgauche{
	float: left;
	width: 60%;
	font-size: small;
}
.paragraphe_bas_droite{
	float:left;
	position: relative;
	left : 80px;
	top : 20px;
	width : 400px;
	height : 146px;
}

.legende{
	font-size: 10px;
	padding-top: 20px;
}

.illustration{
	text-align: center;
}
.imgtheatre{
	width : 250px;
	height : 300px;
	float: right;
}
.imgmasques{
	width : 252px;
	height : 146px;
	float: left;
}

div{
	/*border: solid 1px red;*/	
}
