/****************************************/
/* Définitions communes à toute les page */
/****************************************/
body{
	margin: 0px 22px 0px 22px;
	padding: 0px;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, Serif;
	background: #F8BF87;
	}
ul{
  margin: 0px;
  padding: 0px;
  }
li{
	list-style-type: none;
	}
.topSpacer{
	position: relative;
	width: 650px;
	height: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px solid #000000;
	}
.mainFrame{
	position: relative;
	width: 650px;
	height: 500px;
	padding: 0px;
	margin: 0px;
	background: #FFFFFF;
    color: black;
	text-align: left;
/*	border: 1px solid #000000; */
	}
.pageTitle{
	position: relative;
	top: 5px;
	left: 220px;
	width: 350px;
	height: 80px;
	padding: 0px;
	margin: 0px;
	background: url("img/goutteDeSable.png") top left repeat;
    color: black;
	border: 0px solid #000000;
	}
.pageMenu{
	position: absolute;
	top: 133px;
	left: -60px;
	width: 159px;
	height: 300px;
	padding: 0px;
	margin: 0px;
	background: url("img/menu.gif") top left no-repeat;
  color: black;
	border: 0px solid #000000;
  }
.pageContent{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 550px;
	height: 370px;
	padding: 0px;
	margin: 0px;
  color: black;
	border: 1px solid #000000;
	}
.footer{
	position: relative;
	width: 650px;
	height: 25px;
	padding: 0px;
	margin: 0px;
  color: black;
  text-align: left;
	border: 1px solid #000000;
  }
.textOutOfScreen{
	text-indent: -5000px;
	line-height: 0px;
  }

/******************************/
/* Style de la page "Accueil" */
/******************************/



