/*****************************************/
/* Définitions communes à toute les page */
/*****************************************/
body{
	margin: 0px 22px 0px 22px;
	padding: 0px;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, Serif;
	background: #FFFEA7;
	}
ul{
  margin: 0px;
  padding: 0px;
  }
li{
	list-style-type: none;
	}
h1{
	font-size: 20px;
	font-weight: bold;
}
a, a:link, a:visited{
	color: black;
	text-decoration: none;
	font-weight: bold;
}
.mainFrame{
	position: relative;
	width: 650px;
	height: 500px;
	padding: 0px;
	margin: 0px;
	background: #FFFFFF;
	color: black;
	text-align: left;
	border: 1px solid #000000;
	}
.goutte{
	position: absolute;
	top: 5px;
	left: -13px;
	width: 70px;
	height: 107px;
	float: left;
	background: url("img/goutte.gif") top left repeat;
}
.pageTitle{
	position: absolute;
	top: 30px;
	left: 150px;
	width: 456px;
	height: 34px;
	padding: 0px;
	margin: 0px;
	background: url("img/gouttedesable.png") top left no-repeat;
  color: black;
	border: 0px solid #000000;
	}
.pageMenu{
	position: absolute;
	top: 133px;
	left: -60px;
	width: 159px;
	height: 300px;
	padding: 0px;
	margin: 0px;
	background: url("img/menu.gif") top left no-repeat;
	color: black;
	border: 0px solid #000000;
  }
.pageContent{
	position: absolute;
	top: 110px;
	left: 110px;
	width: 520px;
	height: 370px;
	padding: 0px;
	margin: 0px;
  color: black;
	border: 0px solid #000000;
	text-align: justify;
	}
.pageContent ul{
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 0px 10px;
}
.pageContent li{
	list-style-type: disc;
}
.footer{
	position: relative;
	width: 650px;
	height: 25px;
	padding: 0px;
	margin: 0px;
	color: black;
	text-align: left;
	border: 0px solid #000000;
  }
.textOutOfScreen{
	text-indent: -5000px;
	line-height: 0px;
  }
/* couleur des images "On" : #5fb03b  */
a.menuAccueil, a.menuAcueil:link, a.menuAccueil:visited{
	position: absolute;
	top: 9px;
	left: 52px;
	width: 100px;
	height: 30px;
	padding: 0px;
	margin: 0px;
	background: url("img/menuAccueilOff.gif") top left no-repeat;
	border: 0px solid #000000;
	text-decoration: none;
}
a.menuAccueil:hover{
	background: url("img/menuAccueilOn.gif") top left no-repeat;
	text-decoration: none;
}
a.menuBibliotheque, a.menuBibliotheque:link, a.menuBibliotheque:visited{
	position: absolute;
	top: 73px;
	left: 45px;
	width: 100px;
	height: 30px;
	padding: 0px;
	margin: 0px;
	background: url("img/menuBibliothequeOff.gif") top left no-repeat;
	border: 0px solid #000000;
	text-decoration: none;
}
a.menuBibliotheque:hover{
	background: url("img/menuBibliothequeOn.gif") top left no-repeat;
	text-decoration: none;
}
a.menuContact, a.menuContact:link, a.menuContact:visited{
	position: absolute;
	top: 132px;
	left: 10px;
	width: 100px;
	height: 30px;
	padding: 0px;
	margin: 0px;
	background: url("img/menuContactOff.gif") top left no-repeat;
	border: 0px solid #000000;
	text-decoration: none;
}
a.menuContact:hover{
	background: url("img/menuContactOn.gif") top left no-repeat;
	text-decoration: none;
}
/***********************************/
/* Style de la page "Accueil"      */
/***********************************/





/***********************************/
/* Style de la page "Bibliotheque" */
/***********************************/
a.livresGuides, a.livresGuides:link, a.livresGuides:visited{
	position: absolute;
	top: 80px;
	left: 100px;
	width: 75px;
	height: 30px;
	padding: 0px;
	margin: 0px;
	background: url("img/goutte.gif") top left no-repeat;
	border: 0px solid #000000;
	text-decoration: none;
}
a.livresGuides:hover{
	background: url("img/menuContactOff.png") top left no-repeat;	
}
a.livresAlbums{
	position: absolute;
	top: 140px;
	left: 370px;
	width: 75px;
	height: 30px;
	padding: 0px;
	margin: 0px;
	background: url("img/goutte.gif") top left no-repeat;
	border: 0px solid #000000;
	text-decoration: none;
}
a.livresAlbums:hover{
	background: url("img/menuContactOff.png") top left no-repeat;	
}
a.livresTechniques{
	position: absolute;
	top: 270px;
	left: 180px;
	width: 75px;
	height: 30px;
	padding: 0px;
	margin: 0px;
	background: url("img/goutte.gif") top left no-repeat;
	border: 0px solid #000000;
	text-decoration: none;
}
a.livresTechniques:hover{
	background: url("img/menuContactOff.png") top left no-repeat;
}

.cadreLivresGuides{
	position: absolute;
	top: 110px;
	left: 175px;
	width: 150px;
	height: 100px;
	padding: 0px;
	margin: 0px;
	background: url("img/goutte.gif") top left repeat;
	border: 0px solid #000000;
	text-decoration: none;
/*	display: block; */
	visibility: hidden;
}



/***********************************/
/* Style de la page "Contact"      */
/***********************************/
.contactLegend{
	font-size: 10px;
	color: black;
}
