@CHARSET "utf-8";

.corps {
	border-color: blue;
	border-width: 1 px;
	border-style: solid;
}

.menu {
	border-color: red;
	border-width: 1 px;
	border-style: solid;
}

.pieds {
	border-color: yellow;
	border-width: 1 px;
	border-style: solid;
}

body {
	background-color: #d0f9e3;
}

p {
	margin: 0pt;
}

#menu_horizontal {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#menu_horizontal li {
	display: inline;
	margin-right: 10px;
	color: #fff;
	background: #c00;
}

#menu_horizontal li a {
	background: #c00 url(../images/menu_vert.png) left top no-repeat ;
	font: 1em "Trebuchet MS",Arial,sans-serif ;
	line-height: 1em ;
	padding: 4px 0 ;
	text-align: center ;
}

#menu_horizontal li a:hover,#menu_horizontal li a:focus,#menu_horizontal li a:active
	{
	background: #900 url(../images/menu_jaune.png) left top no-repeat ;
}

#menu_vertical {
	float: left;
	height: 300px;
	width: 20%;
}

#menu_vertical a:link,#menu_vertical a:visited {
	color: #CC66CC;
	font-size: 16px;
	text-decoration: none;
}

#menu_vertical a:hover,#menu_vertical a:active {
	text-decoration: underline;
}

#chemin_fer {
	
}

#chemin_fer a:link,#chemin_fer a:visited {
	color: #FF9933;
	font-weight: bold;
	text-decoration: none;
}

#chemin_fer a:hover,#chemin_fer a:active {
	text-decoration: underline overline;
}

#bloc_central {
	
}

#contenu {
	float: left;
	font-size: 28px;
	height: 300px;
	text-align: center;
	width: 80%;
}

#pied_page {
	clear: both;
	text-align: center;
}